.mat-raised-button {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 0.3%;
  width: 15%;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  /*background-color: aquamarine;*/
  margin-top: 2%;
  margin-left: 3%;
}

.item1 {
  /*background-color: blueviolet;*/
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px solid black;
  text-align: left;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
  border-bottom: 1px solid black;
  margin-right: 3%;
  width: 100%;
}

.subgrid {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  grid-auto-flow: column;
}

.item4 {
  grid-row-start: 2;
  grid-column-start: 3;
}
.chat {
  /*border: 1px solid;*/
  width: 95%;
  height: 600px;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 10%;
  margin-right: 10%;
  position: relative;
}

#addPerson {
  padding: 0.8%;
  width: 50%;
  margin-top: 5%;
  float: right;
}
#clearChat {
  width: 60%;

  padding: 0.8%;
  border-radius: 15px;
  position: absolute;
  right: 3%;
  bottom: 2%;
}
