<div class="container">
  <div class="item1">
    <h3>Material Design</h3>
    <h1>Simple Chat Application</h1>

    <button
      mat-raised-button
      color="primary"
      (click)="addNewPerson()"
      id="addPerson"
    >
      <span id="separator">+</span> Add new person
    </button>
  </div>

  <div class="item2">
    <mat-list>
      <div mat-subheader>Chat Window</div>
      <div class="chat">
        <mat-list-item *ngFor="let message of messageService.messages">
          <mat-icon mat-list-icon>bookmark</mat-icon>
          <div mat-line>{{ message.getName }}</div>

          <div mat-line>
            {{ message.getMessages }}
          </div>
        </mat-list-item>
        <button
          mat-raised-button
          color="primary"
          (click)="clearChatWindow()"
          id="clearChat"
        >
          <span id="separator">x</span> clear chat window
        </button>
      </div>
    </mat-list>

    <div class="subgrid">
      <app-person
        *ngFor="let person of people"
        [name]="person.getName"
        class="items"
      ></app-person>
    </div>
  </div>
</div>
